<div class="user-card">
<h1 class="maintitle">Login</h1>
<section class="form">
  <%= form_for :user, url: '/login' do |f| %>
  <%= f.label :email %><br>
  <%= f.text_field :email %><br><br>
  <%= f.label :password%><br>
  <%= f.password_field :password %><br><br>
  <article class="btn">
  <%= f.submit "Login" %>
  </article>
<% end %> 
</section>
<br>
<div class="btn btn-blue">
<%= button_to('Login/Signup with Facebook!', '/auth/facebook') %> 
</div>
</div>
