<div class="border-classic">
    <h1 class="header"><%= @classic.title %> by <%= link_to @classic.author_name, author_path(@classic.author) %> </h1>
    <h2 class="subtitle">Category: <%= link_to @classic.category_name, category_path(@classic.category) %><br></h2> 
    <h2 class="subtitle">Release Date: <%= @classic.release_date %></h2>
    <h3 class="header">Original Version</h3> 
    <p class="text">
        <%= @classic.content %>
    </p>
</div>
<div class="border-classic-yoda">
    <h3 class="header">Yoda Translation</h3>
    <p class="text border">
        <%= @classic.translation %>
        </p>
</div>
<% if logged_in? %>
    <%if owner(@classic) %>
        <div class="btn">
            <%= link_to "Edit Classic's Information", edit_classic_path(@classic) %>
        </div>
    <% end %>
<% end %>