<h1><%= @classic.title %> by <%= @classic.author_name %> </h1>
Category: <%= link_to @classic.category_name, category_path(@classic.category) %>
<h3>Original Version</h3> 
<p><%= @classic.content %></p>
<h3>Yoda Translation</h3>
<p><%= @classic.translation %></p>
<p>Find me in app/views/classic/show.html.erb</p>
