<h1>Authors</h1>
<%= render 'navbar' %>
<ul>
    <% @authors.each do |author|%>
    <div>
        <li><h3><%= link_to author.name, author_path(author) %></h1></li>
        <h5><%= author.life_time %></h5>
        <%= author.biography %>
    <ul>
        <% author.classics.each do |classic|%>
            <li><%= link_to classic.title, classic_path(classic) %></li>
        <% end %>
    </ul>
    </div>
    <% end %>
</ul>
