<h1 class="maintitle">Authors</h1><br>
<%= render 'navbar' %>
<div class="border-author">
    <h1 class="maintitle"> <%= @author.name %>'s Work</h1>
    <h3 class="lifetime"> <%= @author.life_time %></h3>
    <h3 class="header">Biography:</h3>
    <p class="subtitle">
        <%= @author.biography %>
    </p>
    <% if logged_in? && owner(@author) %>
        <div class="sublink"><br>
            <%= link_to "Edit Author's Information", edit_author_path(@author) %>
        </div>
    <% end %>
</div>
<div class="border-author">
    <h2 class="header">Works Written:</h2>
    <ul class="number-listing">
        <% @author.classics.each do |classic| %>
            <li class="sublink"> <%= link_to classic.title, author_classic_path(@author, classic) %> - <%= classic.category_name %></li>
        <% end %>
    </ul><br>
    <div class="sublink">
        <%= link_to "Add To #{@author.name}'s Collection", new_author_classic_path(@author) %>
    </div>
</div>