<%= form_for(@category) do |f| %>
<div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br><br>
    <%= f.label :definition %><br>
    <%= f.text_area :definition %><br>
</div>
<%= f.submit "Submit Category" %>
<% end %>