<!DOCTYPE html>
<html>
  <head>
    <title>Classic Literature -> Yoda Lingo: Translator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="topnav">
    <a class="active" href="#home">Classic Literature -> Yoda: Translator</a>
    <a href="/authors">Authors</a>
    <a href="/classics">Classics & Translation</a>
    <a href="/categories">Categories</a>
    <div class="userfunctions">
      <a href="/login">Login</a>
      <a href="/users/new">Sign Up</a>
    </div>
  </div>
  <div class="pagecontent">
    <%= yield %>
  </div>
  <div class="bottomnav">
      <div class="copytext">© 2021 Classic Literature -> Yoda: Translation</div>
  </div>
  </body>
</html>
