<!DOCTYPE html>
<html>
  <head>
    <title>Classic Literature -> Yoda Lingo: Translator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-white text-gray-600">

  <div class="topnav">
    <a class="active" href="/">Classic Literature -> Yoda: Translator</a>
    <a class="" href="/authors">Authors</a>
    <a class="" href="/categories">Categories</a>
    <a class="" href="/classics">Classics & Translation</a>
    <div class="userfunctions">
      <% if !logged_in? %>
        <a class="text-3xl" href="/login">Login</a>
        <a class="text-3xl" href="/users/new">Sign Up</a>
      <% else %>
        <a class="text-3xl" href="/logout">Logout</a>
      <% end %>
    </div>
  </div>
  
    <% if flash[:message] %>
      <div class="flash-message">
        <strong class="font-bold">Success: </strong>
        <%= flash[:message] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="flash-error">
        <strong class="font-bold">Alert: </strong>
        <%= flash[:alert] %>
    </div>
    <% end %>
  <div class="pagecontent">
    <%= yield %>
  </div>
    <div class="author-navbar">© 2021 Classic Literature -> Yoda: Translation</div>
  </body>
</html>
