<!DOCTYPE html>
<html>
  <head>
    <title>Classic Literature -> Yoda Lingo: Translator</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="topnav">
    <a class="active" href="#home">Home</a>
    <a href="/authors">Authors</a>
    <a href="/classics">Classics & Translation</a>
    <a href="/categories">Categories</a>
</div>
    <%= yield %>
  </body>
</html>
